.menu-background {
    -fx-background-image: url("/image/background/menu_background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.game-background {
    -fx-background-image: url("/image/background/main_game_background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-background-image: url("/image/layout/wood_button.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-border-width: 0;
    -fx-text-fill: #FFD700;
    -fx-font-family: "Xirod";
    -fx-font-size: 36px;
    -fx-pref-height: 120px;
    -fx-pref-width: 400px;
    -fx-cursor: hand;
}

.exit-small-button {
    -fx-background-color: transparent;
    -fx-background-image: url("/image/menu_icon/Home.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-border-width: 0;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-cursor: hand;
}

.audio-button {
    -fx-background-color: transparent;
    -fx-background-image: url("/image/menu_icon/audio.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-border-width: 0;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-cursor: hand;
}

.music-button {
    -fx-background-color: transparent;
    -fx-background-image: url("/image/menu_icon/music.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-border-width: 0;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-cursor: hand;
}

.green-play-again-button {
    -fx-background-color: transparent;
    -fx-background-image: url("/image/menu_icon/green_play_again.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-border-width: 0;
    -fx-pref-height: 150px;
    -fx-pref-width: 150px;
    -fx-cursor: hand;
}

.green-home-button {
    -fx-background-color: transparent;
    -fx-background-image: url("/image/menu_icon/green_home.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-border-width: 0;
    -fx-pref-height: 150px;
    -fx-pref-width: 150px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-opacity: 0.85;
    -fx-translate-y: -2;
}

.button:pressed {
    -fx-opacity: 0.7;
    -fx-translate-y: 2;
}

.game-title {
    -fx-font-family: "HN Artukge Script";
    -fx-font-size: 180px;
    -fx-text-fill: #631A11;
    -fx-effect: dropshadow(gaussian, #FFD700, 8, 0.5, 0, 0);
}

.instruction-title {
    -fx-text-fill: #FFD700;
    -fx-font-family: "Xirod";
    -fx-font-size: 36px;
    -fx-padding: 10 20 10 20;
    -fx-alignment: center;
    -fx-max-width: infinity;
}

.instruction-body {
    -fx-text-fill: #FFD700;
    -fx-font-family: "Super Maples";
    -fx-font-size: 28px;
    -fx-padding: 20;
    -fx-wrap-text: true;
    -fx-max-width: infinity;
}

.instruction-container {
    -fx-background-image: url("/image/layout/wood_surface.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 10;
    -fx-padding: 20;
}

.game-square {
    -fx-fill: #8B5E3C;
    -fx-stroke: #5C280A;
    -fx-stroke-width: 5;
}

.game-arc {
    -fx-fill: #5C3317;
    -fx-stroke: #5C280A;
    -fx-stroke-width: 5;
}

.name-label {
    -fx-font-family: "Xirod";
    -fx-font-size: 24px;
    -fx-text-fill: #631A11;
    -fx-padding: 10 0 10 0;
}

.score-label{
    -fx-font-family: "Xirod";
    -fx-font-size: 24px;
    -fx-text-fill: #FFF5E0;
    -fx-background-image: url("/image/layout/scoreboard.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-padding: 20 100 20 40;
}

.gem-count-label {
    -fx-font-family: "Super Beatpop";
    -fx-font-size: 50px;
    -fx-text-fill: #FFF5E0;
    -fx-effect: dropshadow(gaussian, black, 2, 0.8, 0, 0);
    -fx-padding: 0 10 5 10;
}

.ending-label{
    -fx-font-family: "Xirod";
    -fx-font-size: 24px;
    -fx-text-fill: #FFF8DC;
}

.avatar-frame {
    -fx-background-color: #8B5E3C;
    -fx-border-color: #3B1A08;
    -fx-border-width: 5;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 6, 0, 0, 3);
}

.ending-container {
    -fx-background-image: url("/image/layout/wood_frame.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 10;
    -fx-padding: 20;
}